flows/flows.json
[{"id":"36fa149dddeab4d0","type":"tab","label":"Final Proyect","disabled":false,"info":"","env":[]},{"id":"2862671fc0cc4032","type":"ui_button","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":5,"width":3,"height":1,"passthru":false,"label":"Device 12-AB","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"patientId\":1,\"deviceId\":\"12-AB\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":860,"wires":[["6133bf027aa29f09"]]},{"id":"05befb6fd3eb9ba5","type":"inject","z":"36fa149dddeab4d0","name":"Fetch Data","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":540,"wires":[["870c1d003cfd49b5"]]},{"id":"69fcf18b0653f15d","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Active Patients","order":2,"width":5,"height":3,"format":"<div class=\"card\">\n    <div class=\"title\">Active Patients</div>\n    <div ng-bind-html=\"msg.payload.data\" class=\"value\"></div>\n</div>\n\n<style>\n    .card {\n        background-color: #FF590055 !important;\n        padding: 12px;\n        border-radius: 10px;\n    }\n    .title{\n        color: \"#000\" !important;\n        font-size: 18px;\n        text-align: center;\n    }\n    .value{\n        color: \"#6B3F23\" !important;\n        font-size: 40px;\n        font-weight: \"bold\";\n        text-align: center;\n        margin-top: 15px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":460,"wires":[[]]},{"id":"4505c63738c0b3ce","type":"mqtt in","z":"36fa149dddeab4d0","name":"","topic":"4taRev/finalProyect/patients","qos":"0","datatype":"auto-detect","broker":"d4ad475291993bee","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":200,"wires":[["c02a84e8412f5569"]]},{"id":"c07dac991d7404f4","type":"inject","z":"36fa149dddeab4d0","name":"Patient 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"4taRev/finalProyect/patients","payload":"{\"patientId\":1,\"deviceId\":\"12-AB\"}","payloadType":"json","x":120,"y":40,"wires":[["4ab0cecaace83513"]]},{"id":"c6683d3bd140b0a5","type":"mqtt out","z":"36fa149dddeab4d0","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d4ad475291993bee","x":470,"y":80,"wires":[]},{"id":"470d563d77781956","type":"debug","z":"36fa149dddeab4d0","name":"Post vital debugger","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"4ab0cecaace83513","type":"data-generator","z":"36fa149dddeab4d0","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{\n    \"patientId\": {{payload.patientId}},\n    \"deviceId\": \"{{payload.deviceId}}\",\n    \"heartRate\": {{int 50 110}},\n    \"oxygenLevel\": {{float 87 100}},\n    \"bodyTemperature\": {{float 35.5 37.8}},\n    \"steps\": {{int 500 6000}}\n}","x":320,"y":80,"wires":[["c6683d3bd140b0a5"]]},{"id":"f8b1833f348a8375","type":"inject","z":"36fa149dddeab4d0","name":"Patient 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"4taRev/finalProyect/patients","payload":"{\"patientId\":2,\"deviceId\":\"34-CD\"}","payloadType":"json","x":120,"y":80,"wires":[["4ab0cecaace83513"]]},{"id":"da0fda44805ccc73","type":"inject","z":"36fa149dddeab4d0","name":"Patient 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"4taRev/finalProyect/patients","payload":"{\"patientId\":3,\"deviceId\":\"56-EF\"}","payloadType":"json","x":120,"y":120,"wires":[["4ab0cecaace83513"]]},{"id":"c02a84e8412f5569","type":"http request","z":"36fa149dddeab4d0","name":"POST VITALS","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":200,"wires":[["470d563d77781956"]]},{"id":"195f9d578f7bcdef","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Login Modal","order":28,"width":0,"height":0,"format":"<style>\n    .modal-bg {\n    position: fixed;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    background: rgba(0, 0, 0, 0.6);\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    z-index: 9000;\n    }\n    \n    .hidden {\n        display: none;\n    }\n    \n    .modal-box {\n    background: white;\n    padding: 20px;\n    width: 400px;\n    border-radius: 12px;\n    text-align: center;\n    justify-content: center;\n    align-items: center;\n    }\n    \n    #loginModal input {\n    width: 80%;\n    padding: 8px;\n    margin-top: 10px;\n    border-radius: 8px;\n    outline: none;\n    border-color: black;\n    }\n    \n    #loginModal input:focus {\n    border-color: #FF5900;\n    }\n    \n    #loginModal button {\n    width: 84%;\n    padding: 10px;\n    border: none;\n    border-radius: 8px;\n    background-color: #FF5900;\n    color: white;\n    }\n\n    #loginModal button:hover {\n        background-color: rgba(255,89,0,0.8);\n    }\n</style>\n\n<div id=\"loginModal\" class=\"modal-bg\">\n    <div class=\"modal-box\">\n        <h3>Patient's System Login</h3><br>\n        <input id=\"username\" type=\"text\" placeholder=\"Username\"><br>\n        <input id=\"password\" type=\"password\" placeholder=\"Password\"><br><br>\n        <button id=\"loginBtn\">Login</button>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n\n        scope.$watch('msg', function(msg){\n            if(!msg) return;\n\n                    \n            if(msg.logged === false){\n                document.getElementById(\"loginModal\").classList.remove(\"hidden\");\n            } else if(msg.logged === true){\n                document.getElementById(\"loginModal\").classList.add(\"hidden\");\n            }\n\n            if (msg.clearInputs === true) {\n                document.getElementById(\"username\").value = \"\";\n                document.getElementById(\"password\").value = \"\";\n                msg.clearInputs = false;\n            }\n\n        });\n\n\n        document.getElementById(\"loginBtn\").onclick = function() {\n            const user = document.getElementById(\"username\").value;\n            const pass = document.getElementById(\"password\").value;\n\n            scope.send({\n                payload: {\n                    username: user,\n                    password: pass\n                }\n            });\n        };\n\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":110,"y":300,"wires":[["e428787b10137c23"]]},{"id":"e428787b10137c23","type":"http request","z":"36fa149dddeab4d0","name":"LOGIN","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/auth/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":280,"y":300,"wires":[["7bb1aee2b098f29f","e59100f596d6a071"]]},{"id":"7bb1aee2b098f29f","type":"switch","z":"36fa149dddeab4d0","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":300,"wires":[["8b2cba236212cc28"]]},{"id":"8b2cba236212cc28","type":"function","z":"36fa149dddeab4d0","name":"Login","func":"flow.set(\"access_token\", msg.payload.access_token);\nflow.set(\"refresh_token\", msg.payload.refresh_token);\nflow.set(\"logged\", true);\n\nmsg.logged = true;\nmsg.clearInputs = true;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":300,"wires":[["195f9d578f7bcdef","870c1d003cfd49b5","11326aef9633f550"]]},{"id":"0f56b5c0e0551aaf","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Logout Button","order":29,"width":0,"height":0,"format":"<style>\n    #logoutContainer {\n        position: fixed;\n        bottom: 0;\n        left: 0;\n        text-align: center;\n        align-items: center;\n        z-index: 100;\n    }\n\n    #logoutContainer button{\n        display: flex;\n        align-items: center;\n        justify-content: flex-start;\n        background-color: transparent;\n        color: rgba(255, 139, 77, 1);\n        width: 190px;\n        height: 48px;\n        border: none;\n        padding-left: 12px;\n        padding-right: 6px;\n    }\n\n    #logoutContainer button:hover{\n        background-color: rgba(158, 158, 158, 0.2);\n    }\n\n    .icon{\n        color: rgba(255, 139, 77, 1);\n        margin: 5px;\n        padding-right: 4px;\n    }\n</style>\n\n<div id=\"logoutContainer\">\n    <button id=\"logoutButton\">\n        <ui-icon class=\"icon\" icon=\"logout\"></ui-icon>\n        Logout\n    </button>\n</div>\n\n\n<script>\n    (function(scope) {\n\n\n        document.getElementById(\"logoutButton\").onclick = function() {\n            scope.send({\n                payload: {\n                    action: \"logout\"\n                }\n            });\n        };\n\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":120,"y":360,"wires":[["81fab654e591b845"]]},{"id":"81fab654e591b845","type":"switch","z":"36fa149dddeab4d0","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"logout","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":360,"wires":[["e579e510acbe463e"]]},{"id":"e579e510acbe463e","type":"function","z":"36fa149dddeab4d0","name":"Logout","func":"flow.set(\"access_token\", null);\nflow.set(\"refresh_token\", null);\nflow.set(\"logged\", false);\n\nmsg.logged = false;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":360,"wires":[["195f9d578f7bcdef"]]},{"id":"de9fb36813b756e2","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Active Alerts","order":4,"width":5,"height":3,"format":"<div class=\"card\">\n    <div class=\"title\">Active Alerts</div>\n    <div ng-bind-html=\"msg.payload.data\" class=\"value\"></div>\n</div>\n\n<style>\n    .card {\n        background-color: #FF590055 !important;\n        padding: 12px;\n        border-radius: 10px;\n    }\n    .title{\n        color: \"#000\" !important;\n        font-size: 18px;\n        text-align: center;\n    }\n    .value{\n        color: \"#6B3F23\" !important;\n        font-size: 40px;\n        font-weight: \"bold\";\n        text-align: center;\n        margin-top: 15px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1110,"y":520,"wires":[[]]},{"id":"4ed761ea9c593e4c","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Average Heart Rate","order":6,"width":5,"height":3,"format":"<div class=\"card\">\n    <div class=\"title\">Average Heart Rate</div>\n    <div class=\"subtitle\">Last 5 min</div>\n    <div ng-bind-html=\"msg.payload.data\" class=\"value2\"></div>\n</div>\n\n<style>\n    .card {\n        background-color: #FF590055 !important;\n        padding: 12px;\n        border-radius: 10px;\n    }\n    .title{\n        color: \"#000\" !important;\n        font-size: 18px;\n        text-align: center;\n    }\n    .subtitle{\n    color: #00000078 !important;\n    font-size: 12px;\n    text-align: center;\n    }\n    .value2{\n        color: \"#6B3F23\" !important;\n        font-size: 40px;\n        font-weight: \"bold\";\n        text-align: center;\n        margin-top: 1px;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1130,"y":580,"wires":[[]]},{"id":"e6319160f00a50ea","type":"http request","z":"36fa149dddeab4d0","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients/count","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":460,"wires":[["21e8ca58f48a1293"]]},{"id":"870c1d003cfd49b5","type":"function","z":"36fa149dddeab4d0","name":"Set Access Token","func":"msg.headers = {\n    Authorization: \"Bearer \" + flow.get(\"access_token\")\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":540,"wires":[["152eb35b68858851","a81ba4e1def9b047","7803e9a308e3e3f7","e6319160f00a50ea"]]},{"id":"21e8ca58f48a1293","type":"switch","z":"36fa149dddeab4d0","name":"Status Code Check","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"lte","v":"400","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":460,"wires":[["195f9d578f7bcdef"],["69fcf18b0653f15d"],["4b8a892e3f9d3471"]]},{"id":"4b8a892e3f9d3471","type":"function","z":"36fa149dddeab4d0","name":"Error","func":"msg.payload.data = \"Error\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":480,"wires":[["69fcf18b0653f15d"]]},{"id":"7803e9a308e3e3f7","type":"http request","z":"36fa149dddeab4d0","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients/alerts","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":520,"wires":[["6431dd8fbf266642"]]},{"id":"a81ba4e1def9b047","type":"http request","z":"36fa149dddeab4d0","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients/averageHR","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":580,"wires":[["2a86abe8d7337dd8"]]},{"id":"6431dd8fbf266642","type":"switch","z":"36fa149dddeab4d0","name":"Status Code Check","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"lte","v":"400","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":520,"wires":[["195f9d578f7bcdef"],["de9fb36813b756e2"],["cc68af0d839e8b74"]]},{"id":"2a86abe8d7337dd8","type":"switch","z":"36fa149dddeab4d0","name":"Status Code Check","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"lte","v":"400","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":580,"wires":[["195f9d578f7bcdef"],["4ed761ea9c593e4c"],["29cc6acbfbecd2ab"]]},{"id":"cc68af0d839e8b74","type":"function","z":"36fa149dddeab4d0","name":"Error","func":"msg.payload.data = \"Error\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":540,"wires":[["de9fb36813b756e2"]]},{"id":"29cc6acbfbecd2ab","type":"function","z":"36fa149dddeab4d0","name":"Error","func":"msg.payload.data = \"Error\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":600,"wires":[["4ed761ea9c593e4c"]]},{"id":"bd0133f5808673c3","type":"ui_toast","z":"36fa149dddeab4d0","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":790,"y":240,"wires":[]},{"id":"e59100f596d6a071","type":"function","z":"36fa149dddeab4d0","name":"Notificaton","func":"msg.payload = msg.payload.message\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["95f53765917542ae"]]},{"id":"95f53765917542ae","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Styles","order":30,"width":0,"height":0,"format":"\n<style> \n    .md-toast-content{\n        background-color: white !important;\n        color: #FF5900 !important;\n        border-radius: none;\n    }\n\n    md-toast{\n        z-index: 9999 !important;\n        color: white !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":610,"y":240,"wires":[["bd0133f5808673c3"]]},{"id":"86c25f22d22679a9","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Patient's Table","order":17,"width":17,"height":5,"format":"<style>\n    .custom-table {\n        width: 100%;\n        border-collapse: collapse;\n    }\n\n    .custom-table th,\n    .custom-table td {\n        border: 1px solid #ccc;\n        padding: 8px;\n        text-align: left;\n    }\n\n    .custom-table th {\n        background-color: #FF5900;\n        color: white;\n    }\n\n    .custom-table .table-body {\n        cursor: pointer;\n    }\n\n    .custom-table .table-body:hover {\n        background-color: #FF590055\n    }\n</style>\n\n<table class=\"custom-table\">\n    <tr>\n        <th>ID</th>\n        <th>Name</th>\n        <th>Status</th>\n        <th>HR</th>\n        <th>SpO₂</th>\n        <th>Temperature</th>\n        <th>Steps</th>\n        <th>Last Update</th>\n    </tr>\n\n    <tr class=\"table-body\" ng-repeat=\"row in msg.payload.data\" ng-click=\"selectRow(row)\">\n        <td>{{row.id}}</td>\n        <td>{{row.name}}</td>\n        <td>{{row.status}}</td>\n        <td>{{row.vitals[0].heartRate}}</td>\n        <td>{{row.vitals[0].oxygenLevel}}</td>\n        <td>{{row.vitals[0].bodyTemperature}}</td>\n        <td>{{row.vitals[0].steps}}</td>\n        <td>{{row.vitals[0].timestamp}}</td>\n    </tr>\n</table>\n\n<script>\n    (function(scope) {\n        scope.selectRow = function(row) {\n            scope.send({\n                topic: \"click_row\",\n                patient: row.id\n            });\n        };\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":640,"wires":[["122f91607eced381"]]},{"id":"152eb35b68858851","type":"http request","z":"36fa149dddeab4d0","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":640,"wires":[["dd8f02ed3f7ffb99"]]},{"id":"dd8f02ed3f7ffb99","type":"switch","z":"36fa149dddeab4d0","name":"Status Code Check","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"},{"t":"lte","v":"400","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":640,"wires":[["195f9d578f7bcdef"],["86c25f22d22679a9"],["2d826fa7a5c9a20e"]]},{"id":"2d826fa7a5c9a20e","type":"function","z":"36fa149dddeab4d0","name":"Error","func":"msg.payload.data = \"Error\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":660,"wires":[["86c25f22d22679a9"]]},{"id":"2f9bcac88d17162e","type":"http request","z":"36fa149dddeab4d0","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/api/patients/{{patient}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1670,"y":640,"wires":[["4873f48b57c9ccba"]]},{"id":"f9d008bde96bf424","type":"function","z":"36fa149dddeab4d0","name":"Set Access Token","func":"msg.headers = {\n    Authorization: \"Bearer \" + flow.get(\"access_token\")\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":640,"wires":[["2f9bcac88d17162e"]]},{"id":"122f91607eced381","type":"switch","z":"36fa149dddeab4d0","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"click_row","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":640,"wires":[["f9d008bde96bf424"]]},{"id":"4873f48b57c9ccba","type":"ui_template","z":"36fa149dddeab4d0","group":"e3223dded67b6a58","name":"Patient Info Modal","order":30,"width":0,"height":0,"format":"<style>\n    .modal-bg {\n        position: fixed;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        background: rgba(0, 0, 0, 0.6);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        z-index: 9000;\n    }\n\n    .hidden {\n        display: none;\n    }\n\n    .info-modal-box {\n        background: white;\n        padding: 20px;\n        width: 800px;\n        border-radius: 12px;\n        text-align: center;\n        justify-content: center;\n        align-items: center;\n        position: relative;\n    }\n\n\n    .custom-table {\n        width: 100%;\n        border-collapse: collapse;\n    }\n    \n    .custom-table th,\n    .custom-table td {\n        border: 1px solid #ccc;\n        padding: 8px;\n        text-align: left;\n    }\n    \n    .custom-table th {\n        background-color: #FF5900;\n        color: white;\n    }\n    \n    .custom-table .table-body:hover {\n        background-color: #FF590055;\n    }\n\n    .icon-close{\n        position: absolute;\n        top: 15px;\n        right: 15px;\n        cursor: pointer;\n    }\n\n    .group{\n        display: flex;\n        gap: 15px;\n    }\n\n    .min-w{\n        width: 100px;\n    }\n\n    .margin{\n        margin-top: 10px;\n        margin-bottom: 20px;\n    }\n</style>\n\n<div id=\"infoModal\" class=\"modal-bg\" ng-show=\"showModal\">\n    <div class=\"info-modal-box\">\n        <ui-icon class=\"icon-close\" icon=\"clear\" ng-click=\"closeModal()\"></ui-icon>\n        <h3>Patient Information</h3>\n        <div class=\"group\" style=\"margin-top: 15px;\">\n            <div class=\"group min-w\">\n                <div>ID: </div>\n                <div ng-bind-html=\"msg.payload.data.id\"></div>\n            </div>\n            <div class=\"group\">\n                <div>Name: </div>\n                <div ng-bind-html=\"msg.payload.data.name\"></div>\n            </div>\n        </div>\n        <div class=\"group margin\">\n            <div class=\"group min-w\">\n                <div>Age: </div>\n                <div ng-bind-html=\"msg.payload.data.age\"></div>\n            </div>\n            <div class=\"group\">\n                <div>Gender: </div>\n                <div ng-bind-html=\"msg.payload.data.gender\"></div>\n            </div>\n        </div>\n        \n        <table class=\"custom-table\">\n            <tr>\n                <th>ID</th>\n                <th>Device ID</th>\n                <th>Status</th>\n                <th>HR</th>\n                <th>SpO₂</th>\n                <th>Temperature</th>\n                <th>Steps</th>\n                <th>Last Update</th>\n            </tr>\n        \n            <tr class=\"table-body\" ng-repeat=\"row in msg.payload.data.vitals\">\n                <td>{{row.id}}</td>\n                <td>{{row.deviceId}}</td>\n                <td>{{row.status}}</td>\n                <td>{{row.heartRate}}</td>\n                <td>{{row.oxygenLevel}}</td>\n                <td>{{row.bodyTemperature}}</td>\n                <td>{{row.steps}}</td>\n                <td>{{row.timestamp}}</td>\n            </tr>\n        </table>\n    </div>\n</div>\n\n\n\n\n<script>\n    (function(scope) {\n        scope.showModal = false;\n\n        scope.closeModal = function(){\n            scope.showModal = false;\n        };\n\n        scope.$watch('msg', function(msg){\n            if(!msg) return;\n            \n            if(msg.topic === \"click_row\"){\n                scope.showModal = true;\n            }\n        \n        });\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1870,"y":640,"wires":[[]]},{"id":"11326aef9633f550","type":"function","z":"36fa149dddeab4d0","name":"Connection Init","func":"const token = flow.get(\"access_token\");\n\nmsg.payload = {\n    \"type\": \"connection_init\",\n    \"payload\": {\n        \"authorization\": \"Bearer \" + token\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":720,"wires":[["ec315dc9382ef940","11cc874f738c6ece"]]},{"id":"ec315dc9382ef940","type":"websocket out","z":"36fa149dddeab4d0","name":"WS Out","server":"","client":"b051f9ab8cd8601b","x":540,"y":720,"wires":[]},{"id":"6fbb5377c5150666","type":"function","z":"36fa149dddeab4d0","name":"Subscribe","func":"msg.payload = {\n    \"id\": \"1\",\n    \"type\": \"subscribe\",\n    \"payload\": {\n        \"query\": \"subscription { liveVitals { id deviceId heartRate oxygenLevel bodyTemperature steps timestamp } }\"\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":780,"wires":[["ec315dc9382ef940"]]},{"id":"3d9591771fd2467e","type":"websocket in","z":"36fa149dddeab4d0","name":"WS In","server":"","client":"b051f9ab8cd8601b","x":70,"y":1060,"wires":[["0e33c7e66ce85b23"]]},{"id":"11cc874f738c6ece","type":"delay","z":"36fa149dddeab4d0","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":780,"wires":[["6fbb5377c5150666"]]},{"id":"f339077d99c40b32","type":"ui_gauge","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":21,"width":7,"height":5,"gtype":"gage","title":"Heart Rate","label":"bpm","format":"{{msg.payload.heartRate}}","min":"40","max":"120","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":650,"y":1060,"wires":[]},{"id":"0e33c7e66ce85b23","type":"json","z":"36fa149dddeab4d0","name":"","property":"payload","action":"","pretty":false,"x":210,"y":1060,"wires":[["3ea635dbf58f1171","c2b559c1036c0d20","829631c66b839cc2"]]},{"id":"d28d4db4b98a185f","type":"ui_gauge","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":19,"width":7,"height":5,"gtype":"gage","title":"Oxygen Level","label":"SpO2","format":"{{msg.payload.oxygenLevel}}","min":"85","max":"100","colors":["#ca3838","#00b500","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":660,"y":1020,"wires":[]},{"id":"81212eb1175b7176","type":"inject","z":"36fa149dddeab4d0","name":"Retry Connection","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":130,"y":720,"wires":[["11326aef9633f550"]]},{"id":"1d1e41c2a65e85c1","type":"ui_text","z":"36fa149dddeab4d0","group":"0804182cef5574bb","order":13,"width":7,"height":1,"name":"","label":"Last Vital Registered","format":"","layout":"row-spread","className":"","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"25","color":"#000000","x":680,"y":1100,"wires":[]},{"id":"cdfa0c58d062a567","type":"ui_text","z":"36fa149dddeab4d0","group":"0804182cef5574bb","order":16,"width":7,"height":1,"name":"","label":"Device ID","format":"{{msg.payload.deviceId}}","layout":"row-spread","className":"","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"25","color":"#000000","x":640,"y":1140,"wires":[]},{"id":"3ea635dbf58f1171","type":"function","z":"36fa149dddeab4d0","name":"function 1","func":"msg.payload = msg.payload.payload.data.liveVitals;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1060,"wires":[["d28d4db4b98a185f","f339077d99c40b32","cdfa0c58d062a567"]]},{"id":"4070378f9c6f360a","type":"mqtt out","z":"36fa149dddeab4d0","name":"","topic":"4taRev/finalProyect/patients","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d4ad475291993bee","x":540,"y":900,"wires":[]},{"id":"6133bf027aa29f09","type":"data-generator","z":"36fa149dddeab4d0","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{\n    \"patientId\": {{payload.patientId}},\n    \"deviceId\": \"{{payload.deviceId}}\",\n    \"heartRate\": {{int 50 110}},\n    \"oxygenLevel\": {{float 87 100}},\n    \"bodyTemperature\": {{float 35.5 37.8}},\n    \"steps\": {{int 500 6000}}\n}","x":300,"y":900,"wires":[["4070378f9c6f360a"]]},{"id":"3834fd441fe25275","type":"ui_button","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":7,"width":3,"height":1,"passthru":false,"label":"Device 34-CD","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"patientId\":2,\"deviceId\":\"34-CD\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":900,"wires":[["6133bf027aa29f09"]]},{"id":"441d80dab5447eb6","type":"ui_button","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":9,"width":3,"height":1,"passthru":false,"label":"Device 56-EF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"patientId\":3,\"deviceId\":\"56-EF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":940,"wires":[["6133bf027aa29f09"]]},{"id":"41ab5b7d04d023fb","type":"ui_text","z":"36fa149dddeab4d0","group":"0804182cef5574bb","order":2,"width":7,"height":1,"name":"","label":"Send new vitals","format":"","layout":"row-spread","className":"","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"25","color":"#000000","x":100,"y":820,"wires":[]},{"id":"c2b559c1036c0d20","type":"function","z":"36fa149dddeab4d0","name":"function 2","func":"const data = msg.payload.payload.data.liveVitals;\n\nmsg.payload = data.heartRate;\nmsg.topic = data.deviceId;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1180,"wires":[["bc3c0bd5dd0d5cf3"]]},{"id":"bc3c0bd5dd0d5cf3","type":"ui_chart","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":35,"width":9,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"50","ymax":"110","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":1220,"wires":[[]]},{"id":"a2fecf6a42f9f44f","type":"ui_chart","z":"36fa149dddeab4d0","name":"","group":"0804182cef5574bb","order":36,"width":10,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"35","ymax":"38","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":1280,"wires":[[]]},{"id":"829631c66b839cc2","type":"function","z":"36fa149dddeab4d0","name":"function 3","func":"const data = msg.payload.payload.data.liveVitals;\n\nmsg.payload = data.bodyTemperature;\nmsg.topic = data.deviceId;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1260,"wires":[["a2fecf6a42f9f44f"]]},{"id":"a0eafc84cfef59e4","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":1,"width":1,"height":1},{"id":"485d7695dd4719f0","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":3,"width":1,"height":1},{"id":"b3f99302455613b6","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":5,"width":1,"height":1},{"id":"531e8abb101b9101","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":7,"width":1,"height":1},{"id":"7a43ffe7e6393641","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":8,"width":1,"height":1},{"id":"c1bdfc68b41eb626","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":9,"width":1,"height":1},{"id":"d6541065600376cf","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":10,"width":1,"height":1},{"id":"fa2790ee79354b2f","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":11,"width":1,"height":1},{"id":"9515c0e0c970b7b3","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":12,"width":1,"height":1},{"id":"3a268acd1cab2fac","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":13,"width":1,"height":1},{"id":"a5975618f7b2d105","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":14,"width":1,"height":1},{"id":"0769349122aaa987","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":15,"width":1,"height":1},{"id":"35e2daef2125544b","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":16,"width":1,"height":1},{"id":"1778a1997d326332","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":18,"width":1,"height":1},{"id":"43b6b1667ef269c0","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":19,"width":1,"height":1},{"id":"7c3028ae44fe3721","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":20,"width":1,"height":1},{"id":"8bb46e215b4c07f3","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":21,"width":1,"height":1},{"id":"18aa6cbdcf8da222","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":22,"width":1,"height":1},{"id":"74b9d8dede51405a","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":23,"width":1,"height":1},{"id":"2c4d2369138d68f2","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":24,"width":1,"height":1},{"id":"fa5712e7117d9e57","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":25,"width":1,"height":1},{"id":"5699aef127d6bc91","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":26,"width":1,"height":1},{"id":"9ed3f22e6cfe3d5c","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"e3223dded67b6a58","order":27,"width":19,"height":1},{"id":"876e832c30885c8c","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":1,"width":6,"height":1},{"id":"2ea88c5241f9c408","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":3,"width":6,"height":1},{"id":"a64e4ab30ed5dea1","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":4,"width":3,"height":1},{"id":"913a6174783f7090","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":6,"width":2,"height":1},{"id":"74493d9a07b01174","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":8,"width":1,"height":1},{"id":"39819844d1f6711b","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":10,"width":4,"height":1},{"id":"5b954083d502e1e4","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":11,"width":19,"height":1},{"id":"37cd819b50a8a586","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":12,"width":6,"height":1},{"id":"86a7beb73c4e5f19","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":14,"width":6,"height":1},{"id":"14284cf392f3cb43","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":15,"width":6,"height":1},{"id":"6cf54f6ceefbdff6","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":17,"width":6,"height":1},{"id":"bad25f6488c32e1e","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":18,"width":2,"height":1},{"id":"6a06de7ec4d5a7ec","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":20,"width":1,"height":1},{"id":"b43a192aabe37bf5","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":22,"width":2,"height":1},{"id":"204f7c17548291c1","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":23,"width":2,"height":1},{"id":"77ea19f71a1ac096","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":24,"width":1,"height":1},{"id":"403a80cedca024b9","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":25,"width":2,"height":1},{"id":"f0026686288dc8dd","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":26,"width":2,"height":1},{"id":"6c049153cda0a7bd","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":27,"width":1,"height":1},{"id":"5d1668f0430bdbca","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":28,"width":2,"height":1},{"id":"f487b3e432028c74","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":29,"width":2,"height":1},{"id":"09a96c4cc6401e83","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":30,"width":1,"height":1},{"id":"188622f27453cb1d","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":31,"width":2,"height":1},{"id":"09ade0db675d81a3","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":32,"width":2,"height":1},{"id":"babb800e107d7600","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":33,"width":1,"height":1},{"id":"261a366f425add30","type":"ui_spacer","z":"36fa149dddeab4d0","name":"spacer","group":"0804182cef5574bb","order":34,"width":2,"height":1},{"id":"0804182cef5574bb","type":"ui_group","name":"Group 1","tab":"ff0b86431380cc2d","order":1,"disp":false,"width":19,"collapse":false,"className":""},{"id":"e3223dded67b6a58","type":"ui_group","name":"Group 1","tab":"d386b1885088ad54","order":1,"disp":false,"width":19,"collapse":false,"className":""},{"id":"d4ad475291993bee","type":"mqtt-broker","name":"AWS IoT Core","broker":"a3ijn8f16eal89-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"154ed0319252014e","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b051f9ab8cd8601b","type":"websocket-client","path":"ws://localhost:3000/graphql","tls":"","wholemsg":"false","hb":"0","subprotocol":"graphql-transport-ws","headers":[{"keyType":"other","keyValue":"Sec-WebSocket-Protocol","valueType":"other","valueValue":"graphql-transport-ws"}]},{"id":"ff0b86431380cc2d","type":"ui_tab","z":"36fa149dddeab4d0","name":"Live Metrics","icon":"trending_up","order":2,"disabled":false,"hidden":false},{"id":"d386b1885088ad54","type":"ui_tab","z":"36fa149dddeab4d0","name":"Overview","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"154ed0319252014e","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"4431f35542cf1a721782eb5741c881f25bb7443931ab02a819c8fa6c3474871f-certificate.pem.crt","keyname":"4431f35542cf1a721782eb5741c881f25bb7443931ab02a819c8fa6c3474871f-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"6e3ee74d8735e22b","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6","node-red-node-data-generator":"1.0.2"}}]